@font-face{
  font-family: "Messapia";
    src: url("./fonts/Anthony.woff") format("woff");
}


body{
/*   background-color:orange; */
  font-size:40px;
  font-family: "Messapia";


}

h1{
  text-align: center;
}

.hidden {
  display: none !important;
}

.collection{
  display:flex;
  align-items:flex-end;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em;
}

.collection .ratExample{
  background: grey;
  color: 	#ADFF2F;
border-radius: 100px;
  padding:40px;
 margin-bottom: 10px;
  margin-right: 10px;
  line-height: 30px;
  font-size: 30px;
  cursor: pointer;
}

.collection .ratExample.active{
  
}

.collection .ratExample:hover {
  background-color: #ADFF2F;
  color: black;
}

.rats-detail{
  
}

.ratExample{
  padding: 1em;
}

.name{
  
}

.image{
  
}

.ratSize{
  
}

.accompanyingObject{
  
}