@font-face{
    font-family:"Terminal Grotesque";
    src:url("terminal-grotesque.ttf") format("truetype");
}
@font-face{
    font-family:"Terminal GrotesqueOpen";
    src:url("terminal-grotesque_open.otf") format("opentype");
}
body{
    font-family: Terminal Grotesque;
    padding: 0%;
    margin: 2%; 
    background-color: #dee0df; 
}
img.enhaut{
    margin: 0%;
    position: fixed;
    padding: 2%;
    top: 0%;
    left: 0%;
    width: auto;
    height: 25vh;
    z-index: 2;
}
.menu{
    width: 100%;
    padding-top: 200px;
}
p{
    font-size: 6vh;
    font-family: Terminal GrotesqueOpen;
    -webkit-text-stroke: .6px black;
    line-height: 5.5vh;
    color: transparent;
    filter: blur(2px);
}
p:hover{
    filter: blur(0px);

}
.projet{
    font-size: 6vh;
    -webkit-text-stroke: .7px black;
    color: transparent;
    text-align: right;
    padding-left: 10%;
    padding-right: 3%;
}
.projet:hover{
    font-family: Terminal GrotesqueOpen;
}
.image{
    width: 60%;
    height: auto;
    left: 0%;
    display: flex;
    padding: 2%;
}
.iframe{
    display: flex;
    padding: 2%;
    width: 60vw;
    height: 400px;
}
.poster-image{
    display: flex;
    padding: 2%;
    width: 40vw;
    height: auto;
}

.cache{
    display: none;
}
.cache.active{
    display: inline-block;
}
a{
    font-size: 6vh;
    font-family: Terminal Grotesque;
    -webkit-text-stroke: .6px black;
    line-height: 5vh;
    color: transparent;
    text-decoration: none;
}
a:hover{
    color: black;
    text-decoration: none;
}

.open{ 
    position: fixed;
    top: 30%;
    right: 20px;
    width: 15vw;
    height: auto;
    z-index: -1;
}
@media only screen and (max-width: 600px){

p{
    filter: blur(0px);
    font-size: 6vh;
}
a{
    color: black;
    text-decoration: underline;
}
.open{ 
    position: fixed;
    right: 5px;
    width: 40vw;
    height: auto;
    z-index: -1;
}
}
