@font-face{
    font-family:"Sporting Grotesque";
    src:url("./fonts/Sporting_Grotesque-Regular_web.woff") format("woff");
}
body{
 font-family: "Sporting Grotesque";
}
.container{
padding: 5em;
}
#table{
}

a:link {
    color:  #C4FF45;
  }
  
  /* visited link */
  a:visited {
    color:  #C4FF45;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color:  #C4FF45;
  }

.table{
    font-family: "Sporting Grotesque";
    font-size: 6em;  
}
.opc1{
    font-family: "Sporting Grotesque";
    font-size: 1em; 
    color: #C4FF45;
}
.opc2{
    font-family: "Sporting Grotesque";
    font-size: 1em; 
    color: #C4FF45;
}
.opc3{
	 font-family: "Sporting Grotesque";
    font-size: 1em; 
    color: #C4FF45;
}
.opc4{
  font-family: "Sporting Grotesque";
   font-size: 1em; 
   color: #C4FF45;
}

