@font-face {
    font-family: "Pilowlava";
    src: url("./fonts/Pilowlava-Regular.woff2") format("woff2");
  }
@font-face {
    font-family: "ApfelGrotesk";
    src: url("./fonts/ApfelGrotezk-Regular.woff2") format("woff2");
  }

body{
    font-family: 'ApfelGrotesk';
    background-color: black;
    color:white;
    display: flex;
    flex-basis: 1;
    flex-wrap: wrap;
    
}


h1{
    font-size: 60px;
    color:white;
    text-align: center;
}
p{
   text-align: justify;
   margin: 5%;
   
    
}

.airtable{
    margin: 5%;
    
}
@media only screen and (min-width:0px) {
    body{
        background-color: peachpuff;
            
        } 
   
    h1{
        color: black;  
    }
   
    p{
      color: black; 
    }
    
    
  }

  @media only screen and (min-width:800px) {
    body{
    background-color: lavender;
        
    } 

    h1{
     color: black;
   }
   
   p{
     color: black; 
   }
 }
 @media only screen and (min-width:1200px) {
    body{
        background-color: black;
            
        } 
   
    h1{
     
     color: white;
   }
   
   p{
     color: white; 
   }
   
 }