@font-face {
    font-family: "Messapia";
    src: url("./fonts/Messapia-Regular.woff2") format("woff2");
  }
body{
    background-color: #bfb8b2;
    margin-top:5%;
    margin-bottom:5%;
    margin-left:5%;
    margin-right:5%;
    font-family: Messapia;
}
.main {
    height: 100%;
    width: 100%;
}
#facts{
    height: 100%;
    width:100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-left: 3%;
    margin-right: 3%;
}
.diff{
    flex-direction: row;
}
.info{
    font-size: 22px;
    margin:5%;
    padding:6%;
}
.col{
    flex:1;
    flex-wrap: wrap;
}
.title{
    font-size: 36px;
    line-height: 40px;
    
    
}
.extra{
    background-color: white;
    border-radius: 80%;
    text-align: center;
    border: 1px solid #0000ff;
    box-sizing: border-box;
    transform: rotate(-16.47deg);
    height:90px;
    font-size: 22px;
    line-height: 25px;
}
.cig{
    height:25%;
    width: 25%;
    transform: rotate(90deg);
    margin-right: auto;
}
.baloon{
    height:50%;
    width: 50%;
}
.coffee{
    height:70%;
    width: 70%; 
}
.ad{
    height:100%;
    width: 100%; 
}
.border{
    border: 1px solid black;
    border-radius: 10%;
    padding: 5%;
    background-color: white;
}
.shorter{
    margin-top:10%;
}
em{
    color:white;
    background-color:#0000ff;
}
.med{
    flex-grow: 2;

}
.vid{
    text-align: center;
}
a{
    color:black;
    text-decoration: underline;
}
a:hover{
    color:#0000ff;
}